<!-- cadastro clientes -->
<%- include("../partials/header.ejs")%>
  <%- include("../partials/navbar.ejs")%>

    <div class="container mt-4">
      <h3>Cadastrar Cliente</h3>
      <form action="/customer/save" method="post">
        <div class="row">
          <!-- CLIENTE -->
          <div class="form-group col-lg-6">
            <div>
              <label for="cliente">Cliente:</label>
              <input type="text" required name="cliente" class="form-control" id="cliente"
                placeholder="Adicione o nome">
            </div>
          </div>
          <!-- ENDEREÇO -->
          <div class="form-group col-lg-6">
            <div>
              <label for="endereco">Endereço:</label>
              <input type="text" required name="endereco" class="form-control" id="endereco"
                placeholder="Adicione o endereço">
            </div>
          </div>
          <!-- CPF -->
          <div class="form-group col-lg-3">
            <div>
              <label for="endereco">CPF:</label>
              <input type="text" required name="cpf" maxlength="14" class="form-control" id="cpf"
                placeholder="000.000.000 - 00">
            </div>
          </div>
          <!-- TELEFONE -->
          <div class="form-group col-lg-3">
            <label for="telefone">Telefone:</label>
            <input type="tel" required class="form-control" maxlength="15" name="telefone" id="telefone"
              placeholder="(xx) 00000-0000 ">
          </div>
          <div class="container mt-5 d-flex justify-content-between">
            <a href="/customer/list" class="btn btn-success text-white">Lista Clientes</a>
            <button id="botao" type="submit" class="btn btn-warning text-white ml-auto mr-3">Cadastrar Cliente</button>
          </div>
        </div>
      </form>
    </div>
    <script>

      let cpf = document.querySelector('#cpf')
      let telefone = document.querySelector('#telefone')

      cpf.addEventListener("input", (event) => {
        let cpfValue = event.target.value.replace(/\D/g, '')
        let cpfWithMask = cpfValue.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4')
        event.target.value = cpfWithMask
      })

      telefone.addEventListener("input", (event) => {
        let celularValue = event.target.value.replace(/\D/g, '')
        let celularWithMask = celularValue.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3')
        event.target.value = celularWithMask
      })



    </script>

    <%- include("../partials/footer")%>