<%- include("partials/header.ejs")%>
  <%- include("partials/navbar.ejs")%>

    <style>
      .editavel {
        visibility: hidden;
        color: red;
        font-size: 13px;
      }
    </style>

    <div class="container mt-4">

      <!-- DATA | HORA -->
      <!-- <div class="container p-0 d-flex justify-content-between pb-4">
        <div class="mr-5 ">Data:<span id="data" class="font-weight-bold">00/00/0000</span></div>
        <div>Hora: <span id="horaPagina" class="font-weight-bold">00:00</span> </div>
      </div> -->

      <form action="/buscarDados" method="post">

        <!-- INPUT CLIENTE -->
        <div class="form-group m-0">
          <div>
            <label for="cliente">Cliente:</label>
            <input type="text" name="cliente" class="form-control campos" id="cliente" placeholder="Adicione o nome" oninput="nameValidate()">
          </div>
          <span class="editavel spanError">O campo deve ter no minimo 3 caracteres</span>
        </div>

        <!-- INPUT ENDEREÇO -->
        <div class="form-group m-0">
          <div>
            <label for="exampleFormControlInput1">Endereço:</label>
            <input type="text" name="endereco" class="form-control campos" id="exampleFormControlInput1"
              placeholder="Adicione o endereço" oninput="enderecoValidate()">
          </div>
          <span class="editavel spanError">O campo deve ter no minimo 3 caracteres</span>
        </div>

        <!-- <div class="d-flex flex-wrap m-auto">

          <div class="form-group mr-3" style="width: 205px;">
            <label for="exampleFormControlSelect1">Material:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Areia Fina</option>
              <option>Areia Media</option>
              <option>Areai Grossa</option>
              <option>Brita 0</option>
              <option>Brita 1</option>
              <option>Brita 2</option>
            </select>
          </div>
          <div class="form-group mr-3">
            <label for="quantidade">Quantidade:</label>
            <input type="text" style="width: 205px;" class="form-control" id="quantidade" placeholder="0,000">
          </div>
          <div class="form-group mr-3">
            <label for="precoUnitario">Preço Unitario:</label>
            <input type="tel" style="width: 205px;" class="form-control" id="precoUnitario" placeholder="R$ 0,000">
          </div>
          <div class="form-group mr-3">
            <label for="exampleFormControlInput1">Telefone:</label>
            <input type="tel" style="width: 205px;" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="form-group mr-3" style="width: 205px;">
            <label for="exampleFormControlSelect1">Vendedor:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Caique</option>
              <option>Paulo Thiago</option>
              <option>Marcus Paulo</option>
              <option>Celio de Paula</option>
            </select>
          </div>

          <div class="form-group mr-3" style="width: 205px;">
            <label for="exampleFormControlSelect1">Forma Pagamento:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Dinheiro</option>
              <option>Cartão Credito</option>
              <option>Cartão Debito</option>
              <option>Pix</option>
            </select>
          </div>
          <!-- <div class="form-group mr-3" style="width: 205px;">
            <label for="exampleFormControlSelect1">Caminhão:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Toco 12</option>
              <option>Toco 17</option>
              <option>Toco 18</option>
              <option>Truck 41</option>
              <option>Truck 51</option>
              <option>Carreta 64</option>
              <option>Carreta 65</option>
            </select>
          </div>
          <div class="form-group mr-3" style="width: 205px;">
            <label for="exampleFormControlSelect1">Motoristas:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Adelson</option>
              <option>Aldy</option>
              <option>Chico</option>
              <option>Bela</option>
              <option>Jhonatan</option>
            </select>
          </div>
        </div> -->
        <div class="mt-3 d-flex justify-content-between ">
          <!-- <h3 class="">Valor Total: R$ <span id="resultado">0,00</span></h3> -->
          <button id="botao" class="btn btn-warning text-white onclick="desicion(event, this)">Adicionar Venda</button>
        </div>
      </form>

    </div>
    <br><br>
    <script>

      let teste = false
      let campos = document.querySelectorAll('.campos')
      let spanError = document.querySelectorAll('.spanError')

      function setError(index) {
        campos[index].style.border = '1.5px solid #e63636'
        spanError[index].style.visibility = 'visible'
      }

      function removeError(index) {
        campos[index].style.border = ''
        spanError[index].style.visibility = 'hidden'
      }

      function nameValidate() {
        if (campos[0].value.length < 5) {
          setError(0)
        } else {
          removeError(0)
        }
      }

      function enderecoValidate() {
        if (campos[1].value.length < 5) {
          setError(1)
        } else {
          removeError(1)
        }
      }





      // setInterval(() => {
      //   let quant = quantidade.value.replace(',', '.')
      //   let preco = precoUnitario.value.replace(',', '.')
      //   horaData()
      //   calcularPrecoFinal(quant, preco)
      // }, 100)

      // function calcularPrecoFinal(quantidade1, precoUnitario1) {
      //   let res = quantidade1 * precoUnitario1
      //   resultado.innerHTML = res.toFixed(2)
      // }

      // function horaData() {
      //   let data = new Date()
      //   let hora = data.getHours()
      //   let minutos = data.getMinutes()
      //   dataPagina.innerHTML = ` 0${data.getDay()}/0${data.getMonth() + 1}/${data.getFullYear()}`
      //   horaPagina.innerHTML = `${hora}:${minutos}`
      // }

      function limparCampos() {
        campos.forEach(item => {
          item.value = ''
        })
        // selects.forEach(item => {
        //   item.value = ''
        // })
      }

      function desicion(event, form) {
        event.preventDefault()
        if (teste) {
          form.submit()
          limparCampos()
        }
      }

    </script>
    <%- include("partials/footer")%>