<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compra Jogador no APP-EAFC</title>
</head>

<body>
  <h1>FC-24-APP</h1>
  <a href="/teste" id="tempo">Buscar Jogador</a><br><br>
  <!-- <a href="/buscarJogadorParaListar">Buscar Jogador Para Listar</a><br><br>
  <a href="/buscarJogadorFutbin">Buscar Jogador Futbin</a> -->

</body>
<script>

  // let numero = 0
  // let lupp = document.getElementById('lupp')
  // let teste = document.getElementById('tempo')

  // let parar = setInterval(() => {
  //   numero++
  //   teste.click()
  //   console.log(numero)
  //   if (numero == 15) clearInterval(parar)
  // }, 2000)

</script>

</html>