<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" style="margin-left: 130px; font-size:30px;" href="/customer/list">
    Lemos
  </a>
  <a class="navbar-brand" style="margin-left: 10px; font-size:20px;" href="/customer/new">
    Cadastro
  </a>
</nav><br><br><br>