<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" style="margin-left: 130px; font-size:30px;" href="">
    Lemos
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="navbar-brand" style="margin-left: 10px; " href="/list/users">
        Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" style="margin-left: 10px; " href="/customer/list">
        Clientes Cadastrados
      </a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" style="margin-left: 10px; " href="/customer/new">Cadastro</a>
    </li>
  </ul>

<ul class="navbar-nav ml-auto">
  <a class="navbar-brand" style="margin-left: 10px; " href="/admin/logout">
    Logout
  </a>
</ul>



</nav><br><br><br>